/* start Variable */
:root{
    --main-color: rgb(238, 225, 46);
}
/* End Variable */
/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: "work sans",sans-serif;
}
/* End Global Rules */

header .firstbar{
    width: auto;
    padding: 20px;
    background-color: var(--main-color);
    display: grid;
    grid-template-columns: 200px 1fr repeat(2, 100px);
    grid-template-rows: 32px;
}
button{
    border: none;
    background-color: transparent;
    text-transform: capitalize;
}
button:hover{
    color: gray ;
    cursor:pointer;
}
header .search{
    background: transparent;
    display: grid;
    grid-template-columns: 30px 1fr 10px;
}
header .search input{
    min-width: 50px;
    border-radius: 12px;
    border: none;
    height: 30px;
    padding: 16px;

}
header .search input:focus{
    outline: none;
}
header .logo{
    font-size: 20px;
    letter-spacing: 4px;
}
@media(max-width: 510px){
    header .firstbar{
        grid-template-columns: 157px repeat(2, auto);
        grid-template-rows: 41px 23px;
    }
    .cart,
    .user {
        display: flex;
        justify-content: end;
        align-items: center;
    }
    header .search{
        grid-row: 4;
        grid-column: 1/4;
    }
}
 header .secondbar {
    display: grid;
    grid-template-columns: 200px repeat(7,max-content);
    align-content: center;
    background-color: #fffaf0;
    height: 40px;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    font-size: small;
    white-space: nowrap;
    overflow-y: hidden;
    border-bottom: 1px solid #e2e5f1;
 }
 .secondbar span:first-child{
    border-right: 1px solid #e2e5f1;
    color: #4949c5;

 }
 .secondbar span:first-child::after{
    content: "";
    border-color: #4949c5 transparent transparent transparent;
    border-style: solid;
    border-width: 5px;
    margin-left: 10px;
    top: 12px;
    position: relative;
 }
 .secondbar span{
    padding: 13px
 }

.secondbar span:not(:first-child):hover{
    background-color: white;
    cursor: default;
    border-left: 1px solid #e2e5f1;
    border-right: 1px solid #e2e5f1;
    border-top-right-radius: 20px;
}
.secondbar span:first-child:hover{
    cursor: default;
}
table.allcategories{
    text-align: left;
    text-transform: capitalize;
    white-space: nowrap;
    overflow: hidden;
    max-width: 607px;
}
td:first-child{
    background-color: #fffaf0;
    padding: 8px 61px 8px 32px;
    border-right: 1px solid #e2e5f1;
} 

th,
td:not(:first-child) {
    background-color: white;
    padding: 8px 61px 8px 13px;
}
tbody,
td{
    font-size: small;
}
